<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="app">
      <app></app>
    </div>
    <% for (var chunk in htmlWebpackPlugin.options.customJs) { %>
    <script type="text/javascript" src="<%=htmlWebpackPlugin.options.customJs[chunk] %>"></script>
    <% } %>
    <!--<script type="text/javascript" src=<%= htmlWebpackPlugin.options.polyfillPath %>></script>-->
    <!-- built files will be auto injected -->
  </body>
</html>
